/*控制全局的图标颜色*/

/*未选中的颜色*/

[class*="icon-wei-"] {
	color: #b0b0b0;
}


/*已选中的颜色*/

[class*="icon-yi-"] {
	color: #44ba56;
}


/*主导航栏的样式*/

.weui_tabbar .iconfont {
	height: 25px;
	width: 25PX;
	text-align: center;
	font-size: 22px;
}
.weui_tabbar_item p {
	font-size: 13px;
}

/*球馆加盟样式*/

.router-view {
	width: 100%;
	background: #ebecee;
}

.vux-masker-box {
	position: relative;
	background: #ffffff;
}

.weui_label1 {
	display: block;
	width: 2.7em;
	word-wrap: break-word;
	word-break: break-all;
}


/*图片的样式处理*/

.m-img {
	padding-bottom: 42%;
	display: block;
	position: relative;
	max-width: 100%;
	background-size: cover;
	background-position: center center;
	cursor: pointer;
	border-radius: 2px;
}
.news .m-img {
	padding-bottom: 38%;
	display: block;
	position: relative;
	max-width: 100%;
	background-size: cover;
	background-position: center center;
	cursor: pointer;
	border-radius: 2px;
}
.list{
	margin:0 15px 10px;
	box-shadow: 0px 0px 3px 3px gainsboro;
}
/*球馆加盟标题的样式*/
.vux-masker {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: inherit;
	background-color: rgba(0, 0, 0, 0.498039);
}
.part .weui_cell:nth-child(1){
	padding: 15px;
}
.distance{
	position:absolute;
	bottom:10px;
	right:15px;
	color:#FFFFFF;
}
.m-time{
	padding:3px 0
}
.m-title {
	color: #fff;
	font-size: 16px;
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
/*文字的定位以及样式*/
.details .m-img {
	padding-bottom: 50%;
	display: block;
	position: relative;
	max-width: 100%;
	background-size: cover;
	background-position: center center;
	cursor: pointer;
	border-radius: 2px;
}

/*球馆头部的处理*/
.right-P {
	position: absolute;
	right: 15px;
	width: 9em;
	padding: 0;
}
.weui_cell .icon-68{
	margin-left:3px;
}
.right .weui_cell_hd .weui_label {
	width: 3em;
}

.right-P .iconfont{
	margin-left:3px;
	padding-top: 2px;
}
.weui_cell:before {
	border: 0;
}
.aux {
	font-size: 15px;
	color: #979797;
}
/*商品样式*/
.shop {
	padding: /*2.135%*/
	0 2.378%;
	background: #ebecee;
	;
}
.shop a {
	display: inline-block;
	color: #000000;
	width: 48%;
	margin: 0 .5% 2.31%;
}
.shop .weui-flex-item {
	background: #FFFFFF;
}

.shop .img-radius {
	border-radius: 3px 3px 0 0;
}
.page-bd .data-flex {
	padding: 0;
	height: 100%;
	margin-top: 10px;
}
.places img {
	width: 100%;
	height: 100%;
}

/*商品详情样式*/
.com_title{
	padding:2% 4%;
	background: #353535;
	color: #FFFFFF;
}
#commodity .left{
	margin-left: 15px;
}
#commodity .right{
	margin-right: 15px;
}
#commodity .slide-desc{
	padding:10px 0;
}
#commodity:after {
    content: '';
    display: block;
    width: 100%; 
    height: 100%; 
    padding-top: 82%;
}
#commodity .dot{
	position: absolute;
    right: 46%;
    bottom: 50px;
    padding:1px 5px 1px 0;
    border-radius: 10px;
}
.describe {
	padding: 2% 5px;
	background: #FFFFFF;
}
.new_title{
	margin-bottom;10px;
	padding:0 15px
}
.floor{
	position: fixed;
	bottom:0;
	width:100%;
	z-index: 999;
}
.weui_panel [class^="icon"] {
	font-size: 22px;
}

.weui_panel_access section {
	padding: 10px;
}
/*注册完成之后的商品购买*/
#affirm .weui_cells:after, .weui_cells:before{
	border: none;
}
.pur {
	width: 100%;
	height: 3em;
	background: #ffffff;
	line-height: 3em;
	position: fixed;
	bottom: 0;
	border-top: 1px solid #d4d4d4;
}
.pur_left {
	float: left;
	padding-left: 15px;
	font-size: 20px;
	width:50%;
	box-sizing: border-box;
}

.pur_right {
	float: right;
	width:50%;
}

.pur_right button {
	display: inline-block;
	border: 0;
	height: 50px;
	color: #ffffff;
	font-size: 20px;
	background: #F43530;
	width: 100%;
}

/*个人中心消息图标定位*/
.icon-wei-xiaoxi {
	position: absolute;
	top: .5em;
	right: .5em;
	font-size: 1.8em;
	line-height: 22px;
}
/*关注时间*/
.attention {
	position: absolute;
	right: 15px;
}
/*设置页的字体图标控制*/
.weui_cell_hd [class*="icon-wei-"] {
	margin-right: 10PX;
}

.name_mar {
	padding: 10px 4%;
}
.name_mar .logo{
	width: 65px;
	display: block;
	border-radius:50%;
	border: 1px solid rgba(204, 204, 204, 0.5);
}
.golfname {
	font-weight: 500;
	font-size: 18px;
}
/*个人中心边框线的控制*/
.per .weui_cells:after,
.per .weui_cells:before {
	content: " ";
	position: absolute;
	left: 47px;
	width: 100%;
	height: 1px;
	color: #d4d4d4;
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5)
}
.per .weui_cell {
	padding: 5px 15px;
}
.per .weui_cell_hd{
	padding-top:2px;
}
.per .weui_cells:before{
	border: none;
}
/*个人中心我的钱包*/
.account{
	position: relative;
	background: #44ba56;
}
.bord_outer{
	display: inline-block;
	overflow: hidden;
	padding:2px;
	background: transparent;
	border-radius: 15px;
	border: 1px solid rgba(224, 224, 224, 0.48);
}
.bord{
	background: rgba(224, 224, 224, 0.48);
	width: 100px;
	height: 100px;
	line-height: 19px;
	padding: 10px 0;
	box-sizing: border-box;
	text-align: center;
	border-radius: 15px;
	margin: 0 auto;
}
.bord p{
	color:#FFFFFF;
	-webkit-transform: rotate(-45deg);
	transform-origin: 62% 59%;
	-ms-transform-origin: 62% 59%;
	-moz-transform-origin: 62% 59%;
	-webkit-transform-origin: 62% 59%;
	-o-transform-origin: 62% 59%;
}
.bord p .weui-loadmore-tips{
	border-top: 1px dashed #FFFFFF;
	padding-top:3px;
	width: 100%;
}
/*我的球友*/
.partner .weui_cells_access{
	margin-bottom:5px;
}
/*我的积分控制*/
.integral {
	height: 100%;
	width: 100%;
	padding: 10% 0;
	text-align: center;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	/* Internet Explorer */
	-moz-transform: rotate(45deg);
	/* Firefox */
	-webkit-transform: rotate(45deg);
	/* Safari 和 Chrome */
	-o-transform: rotate(45deg);
	/* Opera */
	transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	/* Internet Explorer */
	-moz-transform-origin:50% 50%;
	/* Firefox */
	-webkit-transform-origin: 50% 50%;
	/* Safari 和 Chrome */
	-o-transform-origin: 50% 50%;
	/* Opera */
}
.weui_cells:last-child:after{
	border-bottom: transparent;
}
/*积分记录*/
.balance .weui_cells_access{
	margin-top: 8px;
}
.intergral .weui_cells{
	margin-bottom: 8px;
}
/*新手帮助公共的聊天气泡的样式*/
.mess_left .mess,.mess_right .mess {
	margin-top: 10px;
	background: #FFFFFF;
	border-radius: 5px;
	display: inline-block;
	box-sizing: border-box;
	padding: 5px 10px;
	min-height: 40px;
	max-width: 80%;
	overflow-wrap: break-word;
	word-wrap: break-word;
	line-height: 30px;
}
.mess_left .tria,.mess_right .tria {
	display: inline-block;
	position: absolute;
	z-index: 999;
	top: 20px;
	width: 0;
	height: 0;
	border: 10px solid #FFFFFF;
	border-top-color: transparent;
	border-bottom-color: transparent;
}
/*左右气泡的公共样式*/
.mess_left,
.mess_right {
	position: relative;
	overflow: hidden;
}
/*向左的气泡样式*/
.mess_left .mess {
	margin-left: 20px;
}
/*向右的气泡样式*/
.mess_right .mess {
	float: right;
	margin-right: 20px;
}
.mess_left .tria {
	border-left-color: transparent;
	left: 1px;
}
.mess_right .tria {
	right: 1px;
	border-right-color: transparent;
}
.tel {
	text-align: center;
	margin-top: 10px;
	padding: .7em 0;
	font-size: 20px;
	color: #04be02;
}
/*推广二维码样式*/
.qy {
	font-size: 15px;
	padding: 10px;
}
.lin{
	margin-top: 8px;
}
.lin span {
	display: inline-block;
	line-height: 2em;
	height: 2em;
}
.addr {
	background: #d4d4d4;
	padding: 0 6px;
	border-radius: 5px;
}
.lin .icon-dian {
	position: relative;
	width: 30px;
	height: 30px;
	border: transparent;
	margin-left: 10px;
	border-radius: 5px;
	background: #d4d4d4;
}
.plac img {
	padding: 10px;
	margin:10px 0 0;
	width: 65%;
	border-radius: 10px;
	background: #FFFFFF;
}
/*收货地址样式*/

.address .weui_switch:after, .weui_switch:before{
	height:23px;
}
.address .weui_switch{
	height:26px;
	vertical-align : text-top;
}
.address .weui_cells{
	border-top:1px solid #d4d4d4 ;
	padding:5px 15px 0  0;
}
.address .weui_btn_primary{
	position: fixed;
	bottom:0;
}
.address_null{
	margin-top:10px;
	line-height: 35px;
	padding: 10px;
}
.address_block{
	display: none;
}
/*消息中心样式*/
.messages_time{
	text-align: center;
	margin:10px 0 5px;
}
.messages .weui_cells{
	border-radius:10px;
	margin:0 auto;
	width: 94%;
}
/*商品购买关闭按钮*/
.weui_cell_ft .icon-cuowu {
	position: absolute;
	right: 15px;
	text-align: center;
	top: 10px;
	width: 20px;
	height:20px;
    line-height: 20px;
	border-radius: 50%;
	background: #B0B0B0;
	color: #ffffff;
}

#affirm {
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 99;
}
/*遮罩层*/
.mask{
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background: rgba(0, 0, 0, 0.38);
	z-index: 9;
	
}
/*注册*/
#form [class*="icon"]{
	font-size: 22px;
	color:#868686;
}
#form .weui_label{
	width: 100%;
}
#form .weui_cell_hd [class*="icon-"] {
    margin-right: 10PX;
}
#form .weui_cell:before{
	border-bottom: 1px solid #d4d4d4;
	margin-left: 32px;
}
/*注册*/
.register .weui-agree {
    display: block;
    font-size: 16px;
    padding: .5em 19px;
}
/*注册广告控制*/

.alert-box{
	position: absolute;
	z-index: 9999;
	
}
/*广告图片的控制*/
.alert-box img{
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 100;
	
}

.alert-circle {
	position: fixed;
	z-index: 101;
	top:15px;
	right: 15px;
}
.alert-sec-circle {
	stroke-dashoffset: 0;
	stroke-dasharray: 735;
	transition: stroke-dashoffset 1s linear;
}

/*订单中心*/
.order {
	background: transparent;
}
.order .weui_cells{
	margin-bottom: 7px;
}
.order .weui_cell{
	padding:0;
}
.order .weui_cells table tr:first-child td{
	border-bottom: 1px solid rgba(209, 209, 209, 0.5);
	padding:8px 15px;
	font-size: 16px;
}
.order .weui_cells table tr:nth-child(2) td{
	padding:8px 15px 2px;
}
.order .weui_cells table tr td{
	padding:2px 15px;
	font-size: 14px;
}