/*控制全局的图标颜色*/
/*未选中的颜色*/
[class*="icon-wei-"]{
	color:#b0b0b0;
}
/*已选中的颜色*/
[class*="icon-yi-"]{
	color:#44ba56;
}
/*主导航栏的样式*/
.iconfont {
	height:30px;
	width:30PX;
	text-align:center;
	font-size: 26px;
}
/*球馆加盟样式*/
.router-view {
    width: 100%;
    top: 46px;
}
.vux-masker-box {
    position: relative;
}
/*图片的样式处理*/
.m-img {
    padding-bottom: 33%;
    display: block;
    position: relative;
    max-width: 100%;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    border-radius: 2px;
}
/*球馆加盟标题的样式*/
.vux-masker {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
}
/*文字的定位以及样式*/
.m-title {
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*球馆头部的处理*/
.right-P{
	position:absolute;
	right:.5em;
	width:9em;
	padding:0;
}
.right .weui_cell_hd .weui_label{
	width:3em;
}
.fi{
	height: 2.4em;
	line-height: 3em;
	font-size: small;
}
.weui_cell:before{
	border:0;
}
.aux{
	font-size: smaller;
	color:#979797;
}

/*商品详情样式*/
.weui_panel [class^="icon"]{
	font-size: 1.6em;
}
.weui_panel_access  section{
	padding:10px;
}
.pur{
	width:100%;
	height:3em;
	background:#ffffff;
	line-height:3em;
	position:fixed;
	bottom:0;
}
.pur_left{
	float: left;
	padding-left: 10px;
	font-size: 20px;
}
.pur_right{
	float:right;
}
.pur_right button{
	display:inline-block;
	border:0;
	height:50px;
	color:#ffffff;
	font-size: 22px;
	background:#F43530;
	width:9em;
}
.weui_tabbar_item p{
	font-size: 13px;
}

/*个人中心消息图标定位*/
.icon-wei-xiaoxi{
	position:absolute;
	top:.5em;
	right:.5em;
	font-size: 1.4em;
	line-height: 22px;
}
.right{
	position:absolute;
	right:15px;
}
.weui_cell_hd [class*="icon-wei-"]{
	margin-right: 10PX;
}
.weui_tab_bd_item .page-bd{
	padding:5px;
}
.places {
	margin:2px 4px;
}
.places img{
	width:100%;
	height:100%;
}
.page-bd .data-flex{
 	margin:4px 0;
 	padding:0;
 }
/*二维码样式*/
.qy{
	font-size: 15px;
	padding:10px;
}
.lin span{
	display:inline-block;
	line-height: 2em;
	height:2em;
}
.icon-83{
	position: absolute;
	width:30px;
	height:30px;
	border: transparent;
	margin-left:10px;
}
.addr{
	background:#a2a0a0;
	padding:0 5px;
}
.plac img{
	padding:10px;
	width:10em;
	border-radius: 10px;
	background:#FFFFFF;
}

/*商品购买关闭按钮*/
.weui_cell_ft .colse{
	position: absolute;
	right:12px;
	text-align:center;
	top:10px;
	width:25px;
	height:25px;
	border-radius: 50%;
	background: #B0B0B0;
	font-size: 20px;
	color:#ffffff;
	display: inline-block;
}
#affirm{
	display:none;
	position: fixed;
	bottom: 0;
	width:100%;
}
