/*球馆加盟样式*/
.router-view {
    width: 100%;
    top: 46px;
}
.vux-masker-box {
    position: relative;
}
/*图片的样式处理*/
.m-img {
    padding-bottom: 33%;
    display: block;
    position: relative;
    max-width: 100%;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    border-radius: 2px;
}
/*球馆加盟标题的样式*/
.vux-masker {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
}
/*文字的定位以及样式*/
.m-title {
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-80{
	position:absolute;
	top:.5em;
	right:.5em;
	font-size: 1.4em;
	line-height: 22px;
}
.right{
	position:absolute;
	right:.5em;
}
.aux{
	font-size: smaller;
	color:#979797;
}
.weui_panel [class^="icon"]{
	font-size: 1.6em;
}
.weui_panel_access  section{
	padding:10px;
}
.pur{
	width:100%;
	height:3em;
	background:#ffffff;
	line-height:3em;
	position:fixed;
	bottom:0;
}
.pur_left{
	float: left;
	padding-left: 10px;
	font-size: 20px;
}
.pur_right{
	float:right;
}
.pur_right button{
	display:inline-block;
	border:0;
	height:50px;
	color:#ffffff;
	font-size: 22px;
	background:#F43530;
	width:10em;
}
.iconfont {
	height:24px;
	width:24px;
	font-size: 21px;
}
.weui_tabbar_item p{
	font-size: 12px;
}

