/*控制全局的图标颜色*/
/*未选中的颜色*/
[class*="icon-wei-"]{
	color:#b0b0b0;
}
/*已选中的颜色*/
[class*="icon-yi-"]{
	color:#44ba56;
}
/*主导航栏的样式*/
.weui_tabbar .iconfont {
	height:30px;
	width:30PX;
	text-align:center;
	font-size: 26px;
}
/*球馆加盟样式*/
.router-view {
    width: 100%;
}
.vux-masker-box {
    position: relative;
}
/*图片的样式处理*/
.m-img {
    padding-bottom: 33%;
    display: block;
    position: relative;
    max-width: 100%;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    border-radius: 2px;
}
/*球馆加盟标题的样式*/
.vux-masker {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
}
/*文字的定位以及样式*/
.m-title {
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*球馆头部的处理*/
.right-P{
	position:absolute;
	right:.5em;
	width:9em;
	padding:0;
}
.right .weui_cell_hd .weui_label{
	width:3em;
}
.fi{
	height: 2.4em;
	line-height: 3em;
	font-size: small;
}
.weui_cell:before{
	border:0;
}
.aux{
	font-size: smaller;
	color:#979797;
}

/*商品详情样式*/
.shop{
	padding:16px 4%;
}
.weui_panel [class^="icon"]{
	font-size: 1.6em;
}
.weui_panel_access  section{
	padding:10px;
}
.pur{
	width:100%;
	height:3em;
	background:#ffffff;
	line-height:3em;
	position:fixed;
	bottom:0;
}
.pur_left{
	float: left;
	padding-left: 10px;
	font-size: 20px;
}
.pur_right{
	float:right;
}
.pur_right button{
	display:inline-block;
	border:0;
	height:50px;
	color:#ffffff;
	font-size: 22px;
	background:#F43530;
	width:9em;
}
.weui_tabbar_item p{
	font-size: 13px;
}

/*个人中心消息图标定位*/
.icon-wei-xiaoxi{
	position:absolute;
	top:.5em;
	right:.5em;
	font-size: 1.4em;
	line-height: 22px;
}
.rights{
	position:absolute;
	right:15px;
}
.weui_cell_hd [class*="icon-wei-"]{
	margin-right: 10PX;
}
.places {
	margin:2px 4px;
}
.places img{
	width:100%;
	height:100%;
}
.page-bd .data-flex{
 	margin:0;
 	padding:0;
 }
 /*新手帮助向左的聊天气泡的样式*/
/*左右气泡的公共样式*/
.mess_left,.mess_right{
 	position:relative;
 	overflow: hidden;
}
.mess_left .mess,.mess_right .mess{
 	margin-top: 10px;
 	border:1px solid #d6d4d4;
 	background: #FFFFFF;
 	border-radius: 5px;
 	display: inline-block;
 	box-sizing: border-box;
 	padding: 5px 10px;
 	min-height:40px;
 	max-width:80%;
 	overflow-wrap: break-word;
 	word-wrap: break-word;
 	line-height: 30px;
 }
.mess_left .tria,.mess_right .tria{
 	display: inline-block;
 	position:absolute;
 	z-index: 999;
 	top:20px;
 	width:0;
 	height:0;
 	border: 10px solid #FFFFFF;
 	border-top-color: transparent;
 	border-bottom-color: transparent;
 }
 /*向左的气泡样式*/
.mess_left .mess{
 	margin-left:20px;
 }
  /*向右的气泡样式*/
.mess_right .mess{
 	float: right;
 	margin-right:20px;
 }
  /*向左的箭头样式*/
.mess_left .tria{
 	border-left-color: transparent;
 	left:1px;
 }
  /*向右的箭头样式*/
.mess_right .tria{
 	right:1px;
 	border-right-color: transparent;
 }
.tel{
	text-align:center;
	padding:.6em 0;
}
/*二维码样式*/
.qy{
	font-size: 15px;
	padding:10px;
}
.lin span{
	display:inline-block;
	line-height: 2em;
	height:2em;
}
.icon-83{
	position: relative;
	width:30px;
	height:30px;
	border: transparent;
	margin-left:10px;
	border-radius: 5px;
}
.addr{
	background:#a2a0a0;
	padding:0 6px;
	border-radius: 5px;
}
.plac img{
	padding:10px;
	width:65%;
	border-radius: 10px;
	background:#FFFFFF;
}

/*商品购买关闭按钮*/
.weui_cell_ft .colse{
	position: absolute;
	right:12px;
	text-align:center;
	top:10px;
	width:25px;
	height:25px;
	border-radius: 50%;
	background: #B0B0B0;
	font-size: 20px;
	color:#ffffff;
	display: inline-block;
}
#affirm{
	display:none;
	position: fixed;
	bottom: 0;
	width:100%;
}
